@charset "UTF-8";
/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  text-decoration: none; }

header a:hover h1 {
  text-decoration: none;
  color: beige;
  text-align: center; }

header nav div ul li, header nav div ul li ul li {
  list-style: none;
  display: inline-block;
  padding-left: 30px;
  margin: 10px;
  max-width: 100%; }

form fieldset {
  box-sizing: border-box;
  background-color: beige;
  margin: 10px;
  padding: 10px;
  border: solid #868484; }

footer div ul li {
  text-decoration: none;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 100vh; }

footer div ul li .ig-logo, footer div .wpplogo {
  position: fixed;
  width: 20px;
  height: 20px;
  bottom: 30px;
  z-index: 2;
  text-align: center;
  padding-bottom: 0px; }

footer div .boton-volver-arriba {
  display: inline-block;
  padding: 5px;
  position: sticky;
  left: 0;
  margin: 0; }

.parrafo-productos-velas {
  color: whitesmoke;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 30px;
  margin-bottom: 30px; }

body {
  background-color: darkgray; }

a {
  text-decoration: none; }

h1 {
  color: whitesmoke;
  text-align: center; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: cadetblue;
  margin: 0;
  border-color: darkgray;
  width: 100%; }
  header a:hover .titulo-principal:hover {
    background-color: cadetblue;
    opacity: 50%;
    text-decoration: none;
    color: beige;
    text-align: center; }
  header a:hover h1 {
    text-decoration: none;
    color: whitesmoke; }
  header nav .color-nav {
    background-color: cadetblue; }
  header nav div ul li a:hover {
    text-decoration: none;
    border-radius: 50%;
    opacity: 50%;
    color: whitesmoke;
    background-color: cadetblue; }
  header nav div ul li a:hover {
    border-radius: 50%;
    opacity: 50%;
    color: whitesmoke;
    background-color: cadetblue; }
  header nav div ul li ul .color-nav {
    background-color: cadetblue; }
  header nav div ul li ul li a:hover {
    text-decoration: none;
    border-radius: 50%;
    opacity: 50%;
    color: whitesmoke;
    background-color: cadetblue; }
  header nav div ul li a:hover {
    text-decoration: none;
    border-radius: 50%;
    opacity: 50%;
    color: whitesmoke;
    background-color: cadetblue; }

/*main*/
main h1 {
  color: black;
  text-align: center;
  margin: 0px;
  padding: 5px;
  background-color: beige; }

main h2 {
  text-align: center;
  color: black;
  background-color: beige; }

main h3 {
  text-align: center;
  color: whitesmoke; }

main h4 {
  color: #802323;
  text-align: center;
  margin-left: 5rem; }

main p {
  text-align: center;
  margin: 5px;
  padding: 5px; }

main .banner-home {
  max-width: 100%;
  height: auto; }

main .parrafo-home {
  text-align: center;
  margin: 3rem;
  color: beige; }

main .carrusel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%; }

main div .carousel {
  width: 800px;
  height: auto; }

main div div .carousel-inner img {
  width: 100%;
  max-width: 100%;
  height: 100%; }

main h2 {
  margin-bottom: 10px; }

main .caja {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  main .caja a {
    display: block;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    transform: translateZ(0); }
    main .caja a:hover {
      transform: scale(1.1); }
    main .caja a .tarjetas {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 100%;
      gap: 1rem;
      padding: 1rem;
      margin-right: 1rem;
      margin-left: 10px;
      margin-top: 1rem;
      margin-bottom: 0; }
    main .caja a::after {
      content: attr(data-description);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 90%;
      padding: 5px;
      background-color: beige;
      color: black;
      font-size: 14px;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s ease; }
    main .caja a:hover::after {
      opacity: 1; }

.caja-velas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 20px; }
  .caja-velas .imagen-velas {
    width: 400px;
    height: 400px;
    margin: 30px;
    margin-left: 10px;
    padding: 10px;
    background-color: beige;
    margin-bottom: 3px; }

.destacados {
  text-align: center;
  margin: 0px;
  padding: 20px;
  background-color: beige; }

form {
  background-color: darkgray;
  text-align: center;
  padding: 100px; }

/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 30px;
  background-color: beige; }
  footer div ul li .ig-logo {
    left: 0px; }
  footer div .wpplogo {
    right: 30px;
    background-color: green;
    color: green; }

/* media queries */
/* para celulares */
@media (max-width: 768px) {
  main .caja {
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: repeat(3, 1fr); }
  main .caja a .tarjetas {
    gap: 0.5rem;
    padding: 0.5rem;
    margin: 20px; }
  main .caja a::after {
    width: 100%;
    padding: 10px;
    font-size: 12px; }
  .caja-velas {
    grid-template-columns: 1fr; }
    .caja-velas div {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .caja-velas div img.imagen-velas {
        width: 100%;
        height: 30rem; }
      .caja-velas div button {
        width: auto;
        margin-top: 1px; }
      .caja-velas div span {
        display: block; } }

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 16px; }
  main .caja {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: repeat(3, 1fr); }
  main .caja a .tarjetas {
    gap: 0.5rem;
    padding: 0.5rem;
    margin: 50px;
    margin-left: 225px;
    width: 50%;
    height: 50%; }
  main .caja a::after {
    margin-left: 225px;
    width: 50%;
    padding: 10px;
    font-size: 12px; }
  .caja2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr); }
  .card-nueve, .card-diez {
    background-color: beige;
    width: 300px;
    height: 300px;
    padding: 2px;
    margin-left: 100px; }
  .caja-velas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: start;
    margin-left: 0px; }
  .imagen-velas {
    background-color: beige;
    width: 270px;
    height: 250px; } }

/* Estilos adicionales para tabletas en orientación horizontal */
@media (min-width: 1025px) and (max-width: 1280px) and (orientation: landscape) {
  body {
    font-size: 16px; }
  .caja {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  .caja-uno, .caja-dos, .caja-tres, .caja-cuatro, .caja-cinco, .caja-seis {
    background-color: beige;
    width: 300px;
    height: 300px;
    margin-left: 100px;
    padding: 2px; }
  .caja2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr); }
  .card-nueve, .card-diez {
    background-color: beige;
    width: 300px;
    height: 300px;
    padding: 2px;
    margin-left: 100px; }
  .caja-velas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: start;
    margin-left: 0px; }
  .imagen-velas {
    background-color: beige;
    width: 270px;
    height: 250px; } }
