/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

body {
    background-color: darkgray;
}

h1 {
    color: aliceblue;
}

/* aplicando pseudoclases */

header nav div ul li a:hover {
    background-color: beige;
    box-shadow: 13px 13px 10px black;
    border-radius: 100%;
    opacity: 50%;
}

header a .titulo-principal:hover {
    background-color: cadetblue;
    box-shadow: 13px 13px 10px black;
    border-radius: 100%;
    opacity: 70%;
}




/* estilos del header */
.titulo-principal {
    text-decoration: none;
    color: beige;
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: cadetblue;
    margin: 0;
    border-color: rgb(123, 124, 124);
    width: 100%;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    padding-left: 30px;
    margin: 10px;
    max-width: 100%;
}

/* estilos del main */


main .destacados {
    text-align: center;
    margin: 0px;
    padding: 20px;
    background-color: beige;
}

main form {
    background-color: darkgray;
    text-align: center;
    padding: 100px;
}

main h1 {
    color: black;
    text-align: center;
    margin: 0px;
    padding: 5px;
    background-color: beige;
}

main h2 {
    text-align: center;
    color: black;
    background-color: beige;
}

main h3 {
    text-align: center;
}

main h4 {
    color: rgb(128, 35, 35);
    text-align: center;
    margin-left: 5rem;
}

.video-ilustrativo {
    text-align: center;
    margin-top: 20px;
    padding: 0;
}

main p {
    text-align: center;
    margin: 5px;
    padding: 5px;
}

main .foto-conocenos {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

main form fieldset {
    box-sizing: border-box;
    background-color: beige;
    margin: 10px;
    padding: 10px;
    border: solid rgb(134, 132, 132);

}

/* aplicando grid */
.caja {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "caja-uno caja-dos"
        "caja-tres caja-cuatro"
        "caja-cinco caja-seis";
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 1rem;
    padding: 1rem;
}

.caja-uno {
    grid-area: caja-uno;
}

.caja-dos {
    grid-area: caja-dos;
}

.caja-tres {
    grid-area: caja-tres;
}

.caja-cuatro {
    grid-area: caja-cuatro;
}

.caja-cinco {
    grid-area: caja-cinco;
}

.caja-seis {
    grid-area: caja-seis;
}

section h2 {
    color: black;
    background-color: beige;
    text-align: center;
    margin-bottom: 10px;
    padding: 0px;
}

section .caja2 .card-nueve,
.card-diez {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 3rem;
}

.card-nueve {
    border: solid black;
}

.card-diez {
    border: solid black;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

section {
    grid-area: section;
}


main .caja2 {
    height: 100vh;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: 1.5fr 0.5fr 1fr;
    grid-template-areas:
        "header header header"
        "main main main"
        "section section section"
        "footer footer footer";
}

header nav ul .color-nav {
    background-color: cadetblue;
}

/* estilos del footer */
footer div ul li {
    text-decoration: none;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 100vh;
}

footer div ul li .iglogo {
    position: sticky;
    width: 2px;
    height: 2px;
    bottom: 5px;
    left: 0;
    text-align: center;
    padding: 0;
}

footer div .wpplogo {
    position: fixed;
    width: 20px;
    height: 20px;
    bottom: 30px;
    right: 30px;
    z-index: 2;
    text-align: center;
    padding-bottom: 0px;
    background-color: green;
    color: green;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 30px;
    background-color: beige;
}

.boton-volver-arriba {
    display: inline-block;
    padding: 5px;
    position: sticky;
    left: 0;
    margin: 0;
}

/* media querys */
/* para celulares */

@media screen and (max-width: 480px) {
    .caja {
        display: grid;
        grid-template-columns: repeat(1, 6fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "caja-uno"
            "caja-dos"
            "caja-tres"
            "caja-cuatro"
            "caja-cinco"
            "caja-seis";
        justify-content: center;
        align-items: center;
    }

    .caja2 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "card-nueve"
            "card-diez";
        justify-content: center;
        align-items: center;

    }

    .foto-conocenos {
        width: 100%;
    }
}