/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    text-decoration: none;
}

//import 
@import "../utilidades/vars";
@import "../utilidades/mixin";
@import "../utilidades/extend";

body{
    background-color: $color-terciario;
}

a {
    text-decoration: none;
}

h1{
    color: whitesmoke;
    text-align: center;
}


//header
header{
    @include header;
    padding: 0;
    background-color: $color-secundario;
    margin: 0;
    border-color: $color-terciario;
    width: $medida-principal;
    a:hover{
            .titulo-principal:hover{
                @include titulo-principal-hover;
            }
            
        h1{
            text-decoration: none;
            color: $color-cuarto;
            @extend %titulo-principal;
        }
    }
    nav{
        .color-nav{
            background-color: $color-secundario;
        }
        div{

            ul{
                li{
                    @extend %nav-ul-li;
                    a:hover{
                        text-decoration: none; 
                        @include hover; }
                }
                li{
                    @extend %nav-ul-li;
                    a:hover{@include hover;}
                    ul{
                        .color-nav{
                            background-color: $color-secundario;
                        }
                        li{
                            @extend %nav-ul-li;
                            a:hover{
                                text-decoration: none;
                                @include hover; }
                        }
                    }
                }
                li{
                    @extend %nav-ul-li;
                    a:hover{
                        text-decoration: none; 
                        @include hover; }
                }
            }
        }
    }
}

/*main*/
main{
    h1{
        color: $color-quinto;
        text-align: center;
        margin: 0px;
        padding: 5px;
        background-color: $color-principal;
    }
    h2{
        text-align: center;
        color: $color-quinto;
        background-color: $color-principal;
    }
    h3{
        text-align: center;
        color: $color-cuarto;
    }
    h4{
        color: $color-sexto;
        text-align: center;
        margin-left: 5rem;
    }
    p{
        text-align: center;
        margin: 5px;
        padding: 5px;
    }
    .banner-home{
        max-width: $medida-principal;
        height: auto;
    }
    .parrafo-home{
        @include parrafos;
    }
    .carrusel-container{
        @include flex;
        width: $medida-principal;
        max-width: $medida-principal;
    }
    div{
        .carousel{
            width: $med-carousel-width;
            height: auto;
        }
            div{
                .carousel-inner{
                    img{ 
                        width: $medida-principal;
                        max-width: $medida-principal;
                        height: $medida-principal;
                    }
                }
            }
    }
    h2 {
        margin-bottom: 10px;
      }
    .caja{
        @include grid(repeat(3, 3fr), repeat(1, 1fr));
        overflow: hidden;
        a{
            display: block;
            position: relative;
            overflow: hidden;
            transition: transform 0.3s ease;
            transform: translateZ(0);
            &:hover {
                transform: scale(1.1);
            }
            .tarjetas{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                height: 100%;
                gap: 1rem;
                padding: 1rem;
                margin-right: 1rem;
                margin-left: 10px;
                margin-top: 1rem;
                margin-bottom: 0;
            }
            &::after {
                content: attr(data-description);
                position: absolute;
                bottom: 0;
                left: 0;
                width: 90%;
                padding: 5px;
                background-color: beige;
                color: black;
                font-size: 14px;
                text-align: center;
                opacity: 0;
                transition: opacity 0.3s ease;
              }
        
              &:hover::after {
                opacity: 1;
              }
        }
    }
        
    }
    .caja-velas{
        display: grid;
        grid-template-columns: repeat(4, 6fr);
        grid-template-rows: repeat(2, 2fr);
        gap: 5px;
        margin-left: 20px;
        grid-template-areas: 
        "posicion-uno posicion-dos posicion-tres posicion-cuatro"
        "posicion-cinco posicion-seis posicion-siete posicion-ocho";

        .posicion-boton{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .imagen-velas{
            @include productos(400px, 400px, 30px, 10px, 10px);
            margin-bottom: 3px;
        }
    }
    .posicion-uno{
        grid-area: posicion-uno;
    }
    .posicion-dos{
        grid-area: posicion-dos;
    }
    .posicion-tres{
        grid-area: posicion-tres;
    }
    .posicion-cuatro{
        grid-area: posicion-cuatro;
    }
    .posicion-cinco{
        grid-area: posicion-cinco;
    }
    .posicion-seis{
        grid-area: posicion-seis;
    }
    .posicion-siete{
        grid-area: posicion-siete;
    }
    .posicion-ocho{
        grid-area: posicion-ocho;
    }
    .posicion-boton{
        grid-area: posicion-boton;
    }
    .parrafo-productos-velas{
        @extend %parrafo-productos-velas;
    }
    .destacados{
        text-align: center;
        margin: 0px;
        padding: 20px;
        background-color: $color-principal;
    }
    form{
        background-color: $color-terciario;
        text-align: center;
        padding: $med-padding-form;
        fieldset{
            @extend %formulario;
        }
    }


/*footer*/

footer{
    @include header;
    text-align: center;
    gap: 1px;
    background-color: $color-principal;
    div{
        ul{
            li{
            @extend %footer;
            .ig-logo{
                    left: 0px;
                    @extend %logo;
                }
            }
        }
    }
    div{
        .boton-volver-arriba{
            @extend %boton-volver-arriba;
        }
    }
    div{
        .wpplogo{
            right: 30px;
            @extend %logo;
            background-color: $color-septimo;
            color: $color-septimo;
        }
    }
}

@import "../utilidades/mediaqueries";