/* media queries */
/* para celulares */
@media (max-width: 768px) {
  
  main .caja {
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  main .caja a {
    .tarjetas {
      gap: 0.5rem;
      padding: 0.5rem;
      margin: 20px;
    }
    
    &::after {
      width: 100%;
      padding: 10px;
      font-size: 12px;
    }
  }
    .caja-velas {
      .posicion-uno{
        grid-area: posicion-uno;
      }
      .posicion-dos{
        grid-area: posicion-dos;
      }
      .posicion-tres{
        grid-area: posicion-tres;
      }
      .posicion-cuatro{
        grid-area: posicion-cuatro;
      }
      .posicion-cinco{
        grid-area: posicion-cinco;
      }
      .posicion-seis{
        grid-area: posicion-seis;
      }
      .posicion-siete{
        grid-area: posicion-siete;
      }
      .posicion-ocho{
        grid-area: posicion-ocho;
      }
      .posicion-boton{
        grid-area: posicion-boton;
      }
        display: grid;
        grid-template-columns: repeat(1, 8fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 1px;
        margin-left: 50px;
        grid-template-areas: 
        "posicion-uno" 
        "posicion-dos"
        "posicion-tres"
        "posicion-cuatro"
        "posicion-cinco" 
        "posicion-seis"
        "posicion-siete" 
        "posicion-ocho";

        img.imagen-velas {
          width: 80%;
          height: 60%;
        }

        button {
          width: auto;
          margin-top: 40px;
        }
    }
    footer {
      flex-direction: column; 
      align-items: center; 
      text-align: center; 
    }
  
    .boton-volver-arriba {
      margin-top: 5px; 
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
      font-size: 16px;
    }
    main .caja {
      display: grid;
      grid-template-columns: repeat(3, 3fr);
      grid-template-rows: repeat(1, 1fr);
    }
    
    main .caja a {
      .tarjetas {
        gap: 0.5rem;
        padding: 0.5rem;
        margin: 50px;
        margin-left: 225px;
        width: 80%;
        height: 80%;
      }
      
      &::after {
        margin-left: 225px;
        width: 50%;
        padding: 10px;
        font-size: 12px;
      }
    }
    .caja2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
    .card-nueve, .card-diez {
      background-color: beige;
      width: 300px;
      height: 300px;
      padding: 2px;
      margin-left: 100px;
    }
    .caja-velas {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-content: center;
      align-items: start;
      margin-left: 0px;
    }
    .imagen-velas {
      background-color: beige;
      width: 270px;
      height: 250px;
    }
  }
  
  /* Estilos adicionales para tabletas en orientación horizontal */
  @media (min-width: 1025px) and (max-width: 1280px) and (orientation: landscape) {
    body {
      font-size: 16px;
    }
    .caja {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    .caja-uno, .caja-dos, .caja-tres, .caja-cuatro, .caja-cinco, .caja-seis {
      background-color: beige;
      width: 300px;
      height: 300px;
      margin-left: 100px;
      padding: 2px;
    }
    .caja2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
    .card-nueve, .card-diez {
      background-color: beige;
      width: 300px;
      height: 300px;
      padding: 2px;
      margin-left: 100px;
    }
    .caja-velas {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-content: center;
      align-items: start;
      margin-left: 0px;
    }
    .imagen-velas {
      background-color: beige;
      width: 270px;
      height: 250px;
    }
  }
  
