/* media queries */
/* para celulares */
@media (max-width: 768px) {
  header{
    max-height: 300px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    .imagen-titulo{
      max-width: 100%;
      height: auto;
    }
    h1{
      font-size: 18px;
    }
  }
  
  .navbar-brand {
    padding: 0;
}

.navbar-brand img {
    max-height: 100%;
    max-width: 100%;
}

.custom-toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
}

.custom-toggler .navbar-toggler-icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: cadetblue;
    border-radius: 2px;
}

.navbar-nav {
    width: 100%;
    background-color: cadetblue;
}

.navbar-nav .nav-item .nav-link {
    padding: 0.5rem;
    color: beige;
}
.navbar-toggler {
  padding: 0.25rem 0.5rem;
}

.navbar-toggler-icon {
  width: 1.25em;
  height: 1.25em;
}

.collapse.navbar-collapse {
  max-height: 0;
  transition: max-height 0.35s ease-out;
  overflow: hidden;
}

.collapse.navbar-collapse.show {
  max-height: 200px; 
}

  
  main .caja {
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  main .caja a {
    .tarjetas {
      gap: 0.5rem;
      padding: 0.5rem;
      margin: 20px;
    }
    
    &::after {
      width: 100%;
      padding: 10px;
      font-size: 12px;
    }
  }
    .caja-velas {
      .posicion-uno{
        grid-area: posicion-uno;
      }
      .posicion-dos{
        grid-area: posicion-dos;
      }
      .posicion-tres{
        grid-area: posicion-tres;
      }
      .posicion-cuatro{
        grid-area: posicion-cuatro;
      }
      .posicion-cinco{
        grid-area: posicion-cinco;
      }
      .posicion-seis{
        grid-area: posicion-seis;
      }
      .posicion-siete{
        grid-area: posicion-siete;
      }
      .posicion-ocho{
        grid-area: posicion-ocho;
      }
      .posicion-boton{
        grid-area: posicion-boton;
      }
        display: grid;
        grid-template-columns: repeat(1, 8fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 1px;
        margin-left: 50px;
        grid-template-areas: 
        "posicion-uno" 
        "posicion-dos"
        "posicion-tres"
        "posicion-cuatro"
        "posicion-cinco" 
        "posicion-seis"
        "posicion-siete" 
        "posicion-ocho";

        img.imagen-velas {
          width: 80%;
          height: 60%;
        }

        button {
          width: auto;
          margin-top: 40px;
        }
    }
    footer {
      flex-direction: column; 
      align-items: center; 
      text-align: center; 
    }
  
    .boton-volver-arriba {
      margin-top: 5px; 
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    body {
      font-size: 16px;
    }
    main .caja {
      display: grid;
      grid-template-columns: repeat(3, 3fr);
      grid-template-rows: repeat(1, 1fr);
    }
    
    main .caja a {
      .tarjetas {
        gap: 0.5rem;
        padding: 0.5rem;
        margin: 50px;
        margin-left: 25px;
        width: 80%;
        height: 80%;
      }
      
      &::after {
        margin-left: 25px;
        width: 80%;
        padding: 10px;
        font-size: 12px;
      }
    }
    .caja2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
    .card-nueve, .card-diez {
      background-color: beige;
      width: 300px;
      height: 300px;
      padding: 2px;
      margin-left: 100px;
    }
    .caja-velas {
      .posicion-uno{
        grid-area: posicion-uno;
      }
      .posicion-dos{
        grid-area: posicion-dos;
      }
      .posicion-tres{
        grid-area: posicion-tres;
      }
      .posicion-cuatro{
        grid-area: posicion-cuatro;
      }
      .posicion-cinco{
        grid-area: posicion-cinco;
      }
      .posicion-seis{
        grid-area: posicion-seis;
      }
      .posicion-siete{
        grid-area: posicion-siete;
      }
      .posicion-ocho{
        grid-area: posicion-ocho;
      }
      .posicion-boton{
        grid-area: posicion-boton;
      }
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1px;
        margin-left: 50px;
        grid-template-areas: 
        "posicion-uno posicion-dos"
        "posicion-tres posicion-cuatro"
        "posicion-cinco posicion-seis" 
        "posicion-siete posicion-ocho";

        img.imagen-velas {
          width: 80%;
          height: 60%;
        }

        button {
          width: auto;
          margin-top: 40px;
        }
    }
    footer {
      flex-direction: column; 
      align-items: center; 
      text-align: center; 
    }
  }
  
  /* Estilos adicionales para tabletas en orientación horizontal */
  @media (min-width: 1025px) and (max-width: 1280px) and (orientation: landscape) {
    body {
      font-size: 16px;
    }
    .caja {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    .caja-uno, .caja-dos, .caja-tres, .caja-cuatro, .caja-cinco, .caja-seis {
      background-color: beige;
      width: 300px;
      height: 300px;
      margin-left: 100px;
      padding: 2px;
    }
    .caja2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
    .card-nueve, .card-diez {
      background-color: beige;
      width: 300px;
      height: 300px;
      padding: 2px;
      margin-left: 100px;
    }
      .caja-velas {
      .posicion-uno{
        grid-area: posicion-uno;
      }
      .posicion-dos{
        grid-area: posicion-dos;
      }
      .posicion-tres{
        grid-area: posicion-tres;
      }
      .posicion-cuatro{
        grid-area: posicion-cuatro;
      }
      .posicion-cinco{
        grid-area: posicion-cinco;
      }
      .posicion-seis{
        grid-area: posicion-seis;
      }
      .posicion-siete{
        grid-area: posicion-siete;
      }
      .posicion-ocho{
        grid-area: posicion-ocho;
      }
      .posicion-boton{
        grid-area: posicion-boton;
      }
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1px;
        margin-left: 50px;
        grid-template-areas: 
        "posicion-uno posicion-dos"
        "posicion-tres posicion-cuatro"
        "posicion-cinco posicion-seis" 
        "posicion-siete posicion-ocho";

        img.imagen-velas {
          width: 80%;
          height: 60%;
        }

        button {
          width: auto;
          margin-top: 40px;
        }
    }
    footer {
      flex-direction: column; 
      align-items: center; 
      text-align: center; 
    }
  }
  
