// paleta de colores general

$color-principal: beige;
$color-secundario: cadetblue;
$color-terciario: darkgray;
$color-cuarto: whitesmoke;
$color-quinto: black;
$color-sexto:  rgb(128, 35, 35);
$color-septimo: green;
$button-bg-3: #104547;
$bg-color: #F1E9DA;
$link-text-color: #fff;
$button-bg-1: #541388;
$button-bg-2: #D90368;
$button-bg-3: #104547;
$button-bg-4: #4F000B;
$button-bg-5: #F28123;
$border-radius: 6px;
$overlay-color: #fff;

//medidas principales

$medida-principal: 100%;
$med-caja-width: 500px;
$med-caja-height: 500px;
$med-velas-width: 300px;
$med-velas-height: 300px;
$med-carousel-width: 800px; 
$med-padding-form: 100px;
